*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #57697b;
  display: block;
  font-size: 100%;
  min-height: 100%;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  html, body {
    overflow: hidden;
  }
}

.lillymed-cta-mobile {
  display: flex;
  position: fixed;
  height: 53px;
  z-index: 10;
  background: linear-gradient(180deg, #2BD161 0%, #22A64D 100%);
  border-radius: 16px 16px 0px 0px;
  width: auto;
  bottom: 0;
  left: 20px;
  right: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.lillymed-cta-mobile img {
  width: 18px;
  height: 18px;
}

.lillymed-cta-mobile .lillymed-cta__text {
  font-family: 'Brandon Text Bold';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .lillymed-cta-mobile {
    display: none;
  }
}

.lillymed-cta-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .lillymed-cta-desktop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;

    display: block;
    width: 87px;
    height: 87px;
  }

  .lillymed-cta-desktop img {
    width: 100%;
    height: 100%;
  }
}

.cover-wrapper {
  position: relative;
}

.cover-wrapper::before {
  content: '';
  background-image: linear-gradient(to top, #57697b, transparent);
  position: absolute;
  height: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .cover-wrapper::before {
    display: none;
  }
}

.cover {
  width: 100%;
  height: auto;
}

.cover.cover--mobile {
  display: block;
}

.cover.cover--tablet {
  display: none;
}

.cover.cover--desktop {
  display: none;
}

@media screen and (orientation: landscape) {
  .cover.cover--mobile {
    display: none;
  }

  .cover.cover--tablet {
    display: none;
  }

  .cover.cover--desktop {
    display: block;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (orientation: portrait) {
  .cover.cover--mobile {
    display: none;
  }

  .cover.cover--tablet {
    display: block;
  }

  .cover.cover--desktop {
    display: none;
  }
}

/* desktop */
@media screen and (min-width: 1024px) and (orientation: portrait) {
  .cover.cover--mobile {
    display: none;
  }

  .cover.cover--tablet {
    display: none;
  }

  .cover.cover--desktop {
    display: block;
  }
}